dash==2.14.0
dash-ag-grid==2.3.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
db-dtypes==1.1.1
Flask==2.2.5
gunicorn==21.2.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
MarkupSafe==2.1.3
nbformat==5.9.2
pandas==2.1.1
plotly==5.17.0
python-dotenv==1.0.0
requests==2.31.0
Werkzeug==2.2.3
wordcloud
dash-auth
fsspec
gcsfs
google-cloud-secret-manager==2.10.0
